<% prefix = "##{@commentable.entity}-comments-#{@commentable.id}" %>
<% errors_selector = "#{prefix}-errors" %>
<% if @comment.errors.present? %>
  $("<%= errors_selector %>").html("<ul>");
  <% @comment.errors.full_messages.each do |message| %>
    $("<%= errors_selector %>").append("<div class=\"error\"><li><%= j message %></div>");
  <% end %>
  $("<%= errors_selector %>").append("</ul>");
<% else %>
  $("<%= errors_selector %>").html("");
  $("<%= "#{prefix}-body" %>").val("");
  $("<%= "#{prefix}-form" %>").hide();
  $("<%= "#{prefix}-link-container" %>").show();
  <% publish_to "/comments" do %>
    $("<%= j render 'comment', comment: @comment %>").appendTo("<%= prefix %>");
  <% end %>
<% end %>
